<header>
    <nav class="bg-white shadow px-6 py-4">
      <div class="flex items-center justify-between max-w-7xl mx-auto">

        <div class="text-2xl font-bold text-blue-600">
          Coworking
        </div>
    
        <div class="flex space-x-8 text-gray-700 font-medium">
          <a routerLink="/" routerLinkActive="text-blue-600" [routerLinkActiveOptions]="{ exact: true }" class="hover:text-blue-500 transition">Home</a>
          <a routerLink="/my_bookings" routerLinkActive="text-blue-600" class="hover:text-blue-500 transition">My Bookings</a>
        </div>
      </div>
    </nav>
</header>