<div class="flex flex-col gap-5 rounded-xl bg-white shadow-lg p-4">
  <div class="flex gap-12">
    <div class="flex w-1/5 flex-col">
      <div class="flex justify-center w-56 h-32">
          <img 
          class="rounded-lg w-full h-full object-cover"
          [src]="workspaceType.imageUrl" [alt]="workspaceType.name">
      </div>
    </div>
    <div class="flex flex-col flex-1 gap-2">
      <div class="">
        <h1 class="text-xl font-bold">{{workspaceType.name}}</h1>
      </div>
      <div>
        <p class="text-gray-500">{{workspaceType.description}}</p>
      </div>
      <div class="flex flex-1 justify-between">
        <div class="flex flex-col">
          <div class="font-semibold mb-1">Amenities:</div>
          <div class="flex gap-1">
            <div 
            class="text-xs px-2 py-1 bg-gray-200 rounded"
            *ngFor="let amenity of workspaceType.amenities">{{amenity}}</div>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="font-semibold">Capacity options:</div>
          <div class="flex gap-1">
            <span *ngFor="let capacityOption of workspaceType.availability; let last = last">
              {{capacityOption.capacity}}<span *ngIf="!last">, </span>
            </span>
            <span> people</span>
          </div>
        </div>
      </div>
      <div class="flex flex-col">
        <div class="font-semibold"> Availability</div>
        <div *ngFor="let availability of workspaceType.availability; let last = last">
          {{formatAvailability(availability.workspaceCount, availability.capacity)}}
        </div>
      </div>
    </div>
    <div class="flex justify-center">
      <div class="">
        <button 
        [routerLink]="['/coworking', coworkingId, 'booking']"
        class=" bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg py-2 px-5 transition">
        Book now</button>
      </div>
    </div>
  </div>s
  <div class="flex justify-end">
    <ng-container *ngIf="workspaceType.name === 'Open Space' && booking">
      <div class="bg-green-200 rounded w-3/4 py-1 px-4">
        <span class="font-semibold">
          {{formatBookingMessage()}}
        </span>
      </div>
    </ng-container>
    <ng-container *ngIf="workspaceType.name != 'Open Space' && booking">
      <div class="bg-green-200 rounded w-3/4 py-1 px-4">
        <span class="font-semibold">
          {{formatBookingMessage()}}
        </span>
      </div>
    </ng-container>
  </div>
</div>